defaults:
  - dataset: arxiv
  - sampler: neighbor
type: cxg
num_device: 1
device: cuda:0
performance:
  bind_method: 0
  num_thread: 24
  max_in_flight: 48
  transfer:
    num_thread: 4
    max_in_flight: 4
  dry_run: False
  cache_size: 0
  prof: 0
testing:
  train_shuffle: True
  eval_shuffle: False
  num_val_samples: -1
  num_test_samples: -1
loading:
  feat_mode: uvm # [empty,uvm,memory,mmap]
util:
  log_level: 2
compute_schedule:
  iter_limit: 10
output:
  graph_type: CSR_Layer
dgl:
  num_thread: 1
mmap:
  random: True
dist: ddp # [ddp, tp]
